.ui-view.side-uiview {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}
.ui-view.side-uiview:first-child{
    margin-top:40px
}

span.item-title {
    color: #30546B;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
}