.tileButtonContainer {
    background-size: 0;
    background-color: darkslategrey;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.tileButtonContainer:hover {
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    background-color: #0088cc;
}

.addmarker-tile>.tileButtonContainer {
    background-color: #0088cc;
}

.label.top-left {
    text-align: left;
    display: block;
}


.BooleanAttribute {
    text-align: left;
    vertical-align: super;
}

.BooleanAttribute>label {
    display: inline-block;
    margin-left: 10px;
}

.BooleanAttribute>input {
    display: inline-block;
    vertical-align: middle;
    margin:0;
}

.media-bar img, .media-bar .noIcon {
    border-radius: 100%;
    padding: 10px;
    margin: 3px;
}

.hideme.uitext-container {
    display: none;
}

.hide-textfield .text-input {
    display: none;
}