.timeline-container .ui-ctrl-handle > span:after {
    color: teal;
    font-size: 30px;
    width: 200px;
    top: 30px;
}

@CHARSET "UTF-8";

.bar_slider {
	z-index: 2;
}

.era-bar {
	z-index: 1;
	width: 100%;
	position: absolute;
	bottom: 50px;
	height: 30px;
	transition: height 0.2s;
}

.era-bar>div {
	position: absolute;
	height: 100%;
}

.era-bar>.era {
	background-color: transparent;
	border-left: none;
}

.era-bar>.era:hover, .era-bar>.era.hover {
	background-color: rgba(245, 245, 220, 0.3);
	border-radius: 10px 10px 0 0;
}

.era-bar>.era:before {
	content: attr(data-label);
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: center;
	line-height: 30px;
}

.e-1914, .e-1941 {
	font-size: 8px;
}

.events-bar {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

.events-bar>div {
	position: absolute;
	height: 50px;
	bottom: 0;
	border-left: 1px solid;
}

.events-bar>div:before {
	content: "";
	position: absolute;
	border-radius: 100%;
	width: 5px;
	height: 5px;
	background-color: white;
	border: 1px solid black;
	left: -4px;
}

.events-bar>div.b {
	height: 80px;
}

.events-bar>div.c {
	height: 65px;
}

.events-bar>div:after {
	content: attr(data-label);
	text-align: right;
	position: absolute;
	white-space: nowrap;
	top: -3px;
	background-color: white;
	padding: 0 1px;
	border-radius: 2px;
}

.events-bar>div.a:after {
	right: 6px;
}

.events-bar>div.b:after, .events-bar>div.c:after, .events-bar>div.d:after
	{
	left: 5px;
}

.timeline-graph {
	position: absolute;
	bottom: 45px;
	z-index: 1;
	padding: 2px 0;
	opacity: 1;
	transition: opacity 0.5s;
	width: 100%;
}

.timeline-graph.detail {
	opacity: 0;
}

.era-s:hover .era-bar, .era-s.hover .era-bar {
	height: 100px;
}

.era-s:hover .timeline-graph, .era-s.hover .timeline-graph {
	opacity: 0
}

.era-s:hover .timeline-graph.detail, .era-s.hover .timeline-graph.detail
	{
	opacity: 1
}

.timeline-graph.detail .Graph_Title {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 3px 10px;
	position:initial;
}

.timeline-opts label {
	display: inline-block;
    margin: 0;
    font-size: 10px;
    color: cadetblue;
    margin-right: 5px;
    padding-left: 5px;
}

.timeline-opts label>input {
	vertical-align: baseline;
	margin: 0 3px 0 10px;
}

.timeline-opts {
	z-index: 1;
	pointer-events: all;
}

.timeline-opts label>span {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	vertical-align: bottom;
}

.timeline-container .ui-ctrl-handle>span:after {
	text-shadow: 0 0 1px white;
	font-weight: 400;
	color: black;
}

.timeline-container:after {
    content: "";
    width: 300%;
    position: absolute;
    height: 120px;
    background-color: rgba(0,0,0,0.4);
    bottom: 0;
    left: -100%;
    pointer-events: none;
}